body {
  margin: 0;
  font-family: sans-serif;
  background: #f8f8f8;
  text-align: center;
  direction: rtl;
}

.app-header {
  background: #222;
  color: #fff;
  padding: 20px;
}

.card {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.install-btn {
  padding: 12px 20px;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
